In [1]:
import requests
url = 'https://raw.githubusercontent.com/codebasics/py/master/ML/3_gradient_descent/Exercise/test_scores.csv'
res = requests.get(url=url, allow_redirects = True)
with open("test_scores.csv", 'wb') as file:
    file.write(res.content)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [2]:
df = pd.read_csv("test_scores.csv")
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [3]:
#Done 415533 iterations for conclusions, Reducing iteration to 10 as it exceeds 25mb limit and for easy reading purposes

m_curr = b_curr = 0
n = df.shape[0]
it, i = 10, 0
print(f'n = {n}')
past_cost = 100.00
learn = 0.0002
while i < it:
    y_predicted = m_curr * df.math + b_curr
    cost = (1/n) * sum([val ** 2 for val in (df.cs - y_predicted)])
    md = -(2/n)*sum(df.math * (df.cs - y_predicted))
    bd = -(2/n)*sum(df.cs - y_predicted)
    m_curr = m_curr - learn * md
    b_curr = b_curr - learn * bd
    print(f'm {m_curr}, b {b_curr}, cost {cost}, iter {i}')
    if math.isclose(cost, past_cost, rel_tol=1e-20):
        break
    past_cost = cost
    i += 1

n = 10
m 1.9783600000000003, b 0.027960000000000002, cost 5199.1, iter 0
m 0.20975041279999962, b 0.0030470367999999894, cost 4161.482445460163, iter 1
m 1.7908456142986242, b 0.025401286955264, cost 3332.2237319269248, iter 2
m 0.37738163667530467, b 0.005499731626422651, cost 2669.4843523161976, iter 3
m 1.6409848166378898, b 0.023373894401807944, cost 2139.826383775145, iter 4
m 0.5113514173939655, b 0.0074774305434828076, cost 1716.5264071567592, iter 5
m 1.5212165764726306, b 0.021771129698498662, cost 1378.2272007804495, iter 6
m 0.6184191426785134, b 0.009075514323270572, cost 1107.8601808918404, iter 7
m 1.4254981563597626, b 0.020507724625171385, cost 891.7842215178443, iter 8
m 0.7039868810749315, b 0.010370210797388455, cost 719.0974036421305, iter 9

In [4]:
from sklearn.linear_model import LinearRegression

In [5]:
obj = LinearRegression()
obj.fit(df[['math']], df.cs)

LinearRegression()

In [6]:
obj.coef_

array([1.01773624])

In [7]:
obj.intercept_

1.9152193111569176

## Almost simliar to like 1e-5 maybe Learning rate should be 0.001